.myCustomHour {
  background-color: #e29881;
  outline: 1px dotted grey;
  text-decoration: dotted;
  font-weight: 600;
  font-size: 16px;
}

.myCustomDayHeader {
  background-color: #e29881;
  font-size: 16px;
}

.myCustomDayBody {
  background-color: yellow;
}