.time_table_wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #efefef;
  overflow: hidden;
}

.day {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  background-image: linear-gradient(rgba(0,0,0,.08) 50%, transparent 50%);
}

.day_title {
  background-color: #34495e;
  font-size: .7rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.hour {
  background-color: rgba(52, 73, 94,0.9);
  font-size: 12px;
  text-align: center;
  width: 5rem;
}

.event {
  position: absolute;
  width: 100%;
  background-color: rgb(18, 205, 177);
  font-size: .7em;
  font-weight: 300;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.event_info {
  line-height: initial;
  text-align: center;
}